workflows/metrics-aggregator-workflow.json
{
  "name": "Agregador de Métricas Outbound",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "ma-cron",
      "name": "Cron 22h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Cole no nó \"Calcular Período\" (n8n Code) — dia civil America/Sao_Paulo em UTC.\n * Saída: today_start / today_end (lte) / today_end_exclusive (RPC [from,to))\n */\nconst tz = \"America/Sao_Paulo\";\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat(\"en-CA\", {\n  timeZone: tz,\n  year: \"numeric\",\n  month: \"2-digit\",\n  day: \"2-digit\",\n}).formatToParts(now);\nconst y = Number(parts.find((p) => p.type === \"year\").value);\nconst mo = Number(parts.find((p) => p.type === \"month\").value);\nconst day = Number(parts.find((p) => p.type === \"day\").value);\nconst today = `${y}-${String(mo).padStart(2, \"0\")}-${String(day).padStart(2, \"0\")}`;\n\nconst startMs = Date.UTC(y, mo - 1, day, 3, 0, 0, 0);\nconst endExclusiveMs = Date.UTC(y, mo - 1, day + 1, 3, 0, 0, 0);\nconst today_start = new Date(startMs).toISOString();\nconst today_end_exclusive = new Date(endExclusiveMs).toISOString();\nconst today_end = new Date(endExclusiveMs - 1).toISOString();\n\nconst refSpMs = Date.UTC(y, mo - 1, day, 15, 0, 0);\nconst dow = new Date(refSpMs).getUTCDay();\nconst mondayOffset = dow === 0 ? -6 : 1 - dow;\nconst monMs = refSpMs + mondayOffset * 86400000;\nconst sunMs = monMs + 6 * 86400000;\nconst week_start = new Date(monMs).toISOString().slice(0, 10);\nconst week_end = new Date(sunMs).toISOString().slice(0, 10);\n\nreturn [\n  {\n    json: {\n      today,\n      week_start,\n      week_end,\n      today_start,\n      today_end,\n      today_end_exclusive,\n    },\n  },\n];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "ma-dates",
      "name": "Calcular Período",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "outbound_cadencia_eventos",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $json.today_start }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $json.today_end }}"
            },
            {
              "keyName": "direcao",
              "condition": "eq",
              "keyValue": "outbound"
            }
          ]
        }
      },
      "id": "ma-eventos",
      "name": "Eventos Outbound Hoje",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "outbound_cadencia_eventos",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $json.today_start }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $json.today_end }}"
            },
            {
              "keyName": "direcao",
              "condition": "eq",
              "keyValue": "inbound"
            }
          ]
        }
      },
      "id": "ma-inbound",
      "name": "Eventos Inbound Hoje",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "outbound_cadencia_sessions",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "agendado"
            },
            {
              "keyName": "agendamento_at",
              "condition": "gte",
              "keyValue": "={{ $json.today_start }}"
            },
            {
              "keyName": "agendamento_at",
              "condition": "lte",
              "keyValue": "={{ $json.today_end }}"
            }
          ]
        }
      },
      "id": "ma-agendados",
      "name": "Agendados Hoje",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "ma-merge-a",
      "name": "Merge Outbound Inbound",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "ma-merge-b",
      "name": "Merge com Agendados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
          "jsCode": "/**\n * Cole no nó \"Agregar Métricas\" (n8n Code, runOnceForAllItems).\n * Variações D1_WA: tenta RPC d1_wa_variacao_metricas (igual view SQL); fallback JS.\n */\nreturn await (async () => {\n  const outbound = $(\"Eventos Outbound Hoje\").all();\n  const inbound = $(\"Eventos Inbound Hoje\").all();\n  const agendados = $(\"Agendados Hoje\").all();\n  const periodo = $(\"Calcular Período\").all()[0].json;\n\n  const byCanal = {};\n  for (const evt of outbound) {\n    const c = evt.json.canal || \"desconhecido\";\n    if (!byCanal[c]) byCanal[c] = { enviados: 0, respostas: 0, agendamentos: 0 };\n    byCanal[c].enviados++;\n  }\n\n  const sessionsContacted = new Set(outbound.map((e) => e.json.session_id));\n  const inboundToday = inbound.filter((e) => sessionsContacted.has(e.json.session_id));\n  for (const evt of inboundToday) {\n    const c = evt.json.canal || \"whatsapp\";\n    if (!byCanal[c]) byCanal[c] = { enviados: 0, respostas: 0, agendamentos: 0 };\n    byCanal[c].respostas++;\n  }\n\n  for (const _s of agendados) {\n    const c = \"whatsapp\";\n    if (!byCanal[c]) byCanal[c] = { enviados: 0, respostas: 0, agendamentos: 0 };\n    byCanal[c].agendamentos++;\n  }\n\n  const rows = Object.entries(byCanal).map(([canal, m]) => ({\n    bucket_inicio: periodo.week_start,\n    bucket_fim: periodo.week_end,\n    canal,\n    enviados: m.enviados,\n    respostas: m.respostas,\n    agendamentos: m.agendamentos,\n  }));\n\n  const totalEnviados = outbound.length;\n  const totalRespostas = inboundToday.length;\n  const totalAgendados = agendados.length;\n  const taxaResposta = totalEnviados > 0 ? ((totalRespostas / totalEnviados) * 100).toFixed(1) : \"0\";\n  const taxaAgendamento = totalEnviados > 0 ? ((totalAgendados / totalEnviados) * 100).toFixed(1) : \"0\";\n\n  const respostasBot = inboundToday.filter((e) => (e.json.response_actor || \"\") === \"bot\").length;\n  const respostasHumano = inboundToday.filter((e) => (e.json.response_actor || \"\") === \"humano\").length;\n  const contatosErrados = inboundToday.filter((e) => (e.json.contact_outcome || \"\") === \"contato_errado\").length;\n  const numerosInexistentes = inboundToday.filter((e) => (e.json.contact_outcome || \"\") === \"numero_inexistente\").length;\n\n  const responseMinutes = [];\n  for (const i of inboundToday) {\n    const sid = i.json.session_id;\n    const inAt = new Date(i.json.created_at).getTime();\n    if (!sid || !Number.isFinite(inAt)) continue;\n    const nextOut = outbound\n      .filter((o) => o.json.session_id === sid)\n      .map((o) => new Date(o.json.created_at).getTime())\n      .filter((t) => Number.isFinite(t) && t > inAt)\n      .sort((a, b) => a - b)[0];\n    if (nextOut) {\n      const diffMin = (nextOut - inAt) / 60000;\n      if (diffMin >= 0) responseMinutes.push(diffMin);\n    }\n  }\n  const avgTeamResponseMinutes = responseMinutes.length\n    ? (responseMinutes.reduce((a, b) => a + b, 0) / responseMinutes.length).toFixed(1)\n    : null;\n\n  let variacoes_d1_wa;\n  let variacoes_d1_wa_texto;\n\n  const pFrom = periodo.today_start;\n  const pTo = periodo.today_end_exclusive;\n  try {\n    const base = (process.env.SUPABASE_URL || \"\").replace(/\\/$/, \"\");\n    const key = process.env.SUPABASE_SERVICE_ROLE_KEY || process.env.SUPABASE_SERVICE_KEY || \"\";\n    if (base && key && pFrom && pTo) {\n      const rpc = await this.helpers.httpRequest({\n        method: \"POST\",\n        url: `${base}/rest/v1/rpc/d1_wa_variacao_metricas`,\n        headers: {\n          apikey: key,\n          Authorization: `Bearer ${key}`,\n          \"Content-Type\": \"application/json\",\n          Prefer: \"return=representation\",\n        },\n        body: { p_from: pFrom, p_to: pTo },\n        json: true,\n      });\n      const parsed = Array.isArray(rpc) ? rpc : [];\n      if (parsed.length) {\n        variacoes_d1_wa = parsed.map((r) => ({\n          abertura_variacao: r.abertura_variacao,\n          enviados: Number(r.enviados),\n          com_resposta: Number(r.com_resposta),\n          taxa_resposta: `${Number(r.pct_resposta).toFixed(1)}%`,\n        }));\n        variacoes_d1_wa_texto = parsed\n          .map(\n            (r) =>\n              `Var. ${r.abertura_variacao}: ${Number(r.pct_resposta).toFixed(1)}% (${r.com_resposta}/${r.enviados})`\n          )\n          .join(\"\\n\");\n      }\n    }\n  } catch (_) {\n    /* fallback abaixo */\n  }\n\n  if (!variacoes_d1_wa_texto) {\n    function spDate(iso) {\n      return new Date(iso).toLocaleDateString(\"en-CA\", { timeZone: \"America/Sao_Paulo\" });\n    }\n    const inboundRows = inbound\n      .map((e) => e.json)\n      .filter((i) => i.direcao === \"inbound\" || i.direcao == null);\n    function hasReplyAfterD1(d1Json) {\n      const t0 = new Date(d1Json.created_at).getTime();\n      const day0 = spDate(d1Json.created_at);\n      return inboundRows.some(\n        (i) =>\n          i.session_id === d1Json.session_id &&\n          new Date(i.created_at).getTime() >= t0 &&\n          spDate(i.created_at) === day0\n      );\n    }\n    const varMetric = {\n      1: { enviados: 0, com_resposta: 0 },\n      2: { enviados: 0, com_resposta: 0 },\n      3: { enviados: 0, com_resposta: 0 },\n    };\n    for (const evt of outbound) {\n      const j = evt.json;\n      if (j.touchpoint_id !== \"D1_WA\") continue;\n      if (j.abertura_variacao == null) continue;\n      const v = Number(j.abertura_variacao);\n      if (v !== 1 && v !== 2 && v !== 3) continue;\n      if ((j.resultado || \"\") === \"falha_envio\") continue;\n      varMetric[v].enviados++;\n      if (hasReplyAfterD1(j)) varMetric[v].com_resposta++;\n    }\n    variacoes_d1_wa = [1, 2, 3].map((v) => {\n      const m = varMetric[v];\n      const pct = m.enviados > 0 ? ((m.com_resposta / m.enviados) * 100).toFixed(1) : \"0\";\n      return {\n        abertura_variacao: v,\n        enviados: m.enviados,\n        com_resposta: m.com_resposta,\n        taxa_resposta: `${pct}%`,\n      };\n    });\n    variacoes_d1_wa_texto = [1, 2, 3]\n      .map((v) => {\n        const m = varMetric[v];\n        const pct = m.enviados > 0 ? ((m.com_resposta / m.enviados) * 100).toFixed(1) : \"0\";\n        return `Var. ${v}: ${pct}% (${m.com_resposta}/${m.enviados})`;\n      })\n      .join(\"\\n\");\n  }\n\n  const summary = {\n    data: periodo.today,\n    enviados: totalEnviados,\n    respostas: totalRespostas,\n    agendamentos: totalAgendados,\n    taxa_resposta: `${taxaResposta}%`,\n    taxa_agendamento: `${taxaAgendamento}%`,\n    respostas_bot: respostasBot,\n    respostas_humano: respostasHumano,\n    contatos_errados: contatosErrados,\n    numeros_inexistentes: numerosInexistentes,\n    tempo_medio_resposta_equipe_min: avgTeamResponseMinutes,\n    variacoes_d1_wa,\n    variacoes_d1_wa_texto,\n  };\n\n  return [{ json: { rows, summary } }];\n})();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "ma-agregar",
      "name": "Agregar Métricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "outbound_copy_metrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "bucket_inicio",
              "fieldValue": "={{ $json.rows[0]?.bucket_inicio }}"
            },
            {
              "fieldName": "bucket_fim",
              "fieldValue": "={{ $json.rows[0]?.bucket_fim }}"
            },
            {
              "fieldName": "canal",
              "fieldValue": "={{ $json.rows[0]?.canal }}"
            },
            {
              "fieldName": "enviados",
              "fieldValue": "={{ $json.rows[0]?.enviados }}"
            },
            {
              "fieldName": "respostas",
              "fieldValue": "={{ $json.rows[0]?.respostas }}"
            },
            {
              "fieldName": "agendamentos",
              "fieldValue": "={{ $json.rows[0]?.agendamentos }}"
            }
          ]
        }
      },
      "id": "ma-upsert",
      "name": "Upsert Métricas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UAZAPI_URL }}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.UAZAPI_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $env.ADMIN_PHONE }}"
            },
            {
              "name": "message",
              "value": "={{ 'Resumo Outbound ' + String($json.summary.data) + '\\n\\n' + 'Enviados: ' + $json.summary.enviados + '\\n' + 'Respostas: ' + $json.summary.respostas + ' (' + $json.summary.taxa_resposta + ')\\n' + 'Agendamentos: ' + $json.summary.agendamentos + ' (' + $json.summary.taxa_agendamento + ')\\n\\n' + 'Respostas humanas: ' + $json.summary.respostas_humano + '\\n' + 'Respostas bot: ' + $json.summary.respostas_bot + '\\n' + 'Contatos errados: ' + $json.summary.contatos_errados + '\\n' + 'Números inexistentes: ' + $json.summary.numeros_inexistentes + '\\n' + 'Tempo médio resposta equipe: ' + ($json.summary.tempo_medio_resposta_equipe_min || '-') + ' min\\n\\n' + 'D1_WA — taxa por variação:\\n' + String($json.summary.variacoes_d1_wa_texto || '—') }}"
            }
          ]
        }
      },
      "id": "ma-notify",
      "name": "Notificar Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Cron 22h": {
      "main": [
        [
          {
            "node": "Calcular Período",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Período": {
      "main": [
        [
          {
            "node": "Eventos Outbound Hoje",
            "type": "main",
            "index": 0
          },
          {
            "node": "Eventos Inbound Hoje",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agendados Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos Outbound Hoje": {
      "main": [
        [
          {
            "node": "Merge Outbound Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos Inbound Hoje": {
      "main": [
        [
          {
            "node": "Merge Outbound Inbound",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Outbound Inbound": {
      "main": [
        [
          {
            "node": "Merge com Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendados Hoje": {
      "main": [
        [
          {
            "node": "Merge com Agendados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge com Agendados": {
      "main": [
        [
          {
            "node": "Agregar Métricas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Métricas": {
      "main": [
        [
          {
            "node": "Upsert Métricas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  }
}