workflows/sdr-outbound-workflow.json
{
  "name": "SDR Outbound",
  "meta": {
    "instanceWorkflowId": "XolilRXoC0RzMd6E",
    "exportedAt": "2026-04-09",
    "notes": "Cron 15 min. Migration 015 (dispatch lease). Filtrar vencidos: inbound após outbound pausa orquestrador. Variável de ambiente UAZAPI_TOKEN para envio."
  },
  "nodes": [
    {
      "parameters": {
        "content": "## SDR Outbound — Orquestrador da cadência\n\n**Referências (não editar):** `Disparo Outbound`, `Hubspot testes`, `AGENTE DE OUTBOUND`, `AGENTE SDR`\n\n**Pré-requisitos:** migrations `005_outbound_cadencia_omnichannel.sql`, `015_outbound_dispatch_lease.sql`; env `UAZAPI_TOKEN` (n8n); tabela populada.\n\n**Loop:** o último nó volta para `Um lead por vez` para processar o próximo item do lote.",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -240
      ],
      "id": "sn-overview-001",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -80
      ],
      "id": "trig-schedule-001",
      "name": "Cron cadência 15min"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        128
      ],
      "id": "trig-manual-001",
      "name": "Manual teste"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_sessao_completa",
        "returnAll": true,
        "filters": {
          "conditions": []
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        32
      ],
      "id": "supa-list-sessions-001",
      "name": "Supabase — candidatos",
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Nó \"Filtrar vencidos\" — SDR Outbound (n8n).\n * Cadência: só entra se proximo_envio_at venceu E passou intervalo mínimo (72h) desde ultima_outbound_at.\n * Reforço 1h: ramo separado (não exige gap de 72h) — Prepare decide prioridade (follow-up antes da cadência).\n *\n * Anti-disparo em massa: exige sempre ≥1h desde ultima_outbound_at antes de enfileirar qualquer envio\n * (cadência, reforço ou retomada). Sem isso, reforcoDue ficava true a cada 15min após +1h da primeira msg.\n *\n * Inbound: se ultima_inbound_at > ultima_outbound_at (e não for flag_resposta_bot), não enfileira novo/em_cadencia.\n */\nconst now = Date.now();\nconst MS_48H = 48 * 60 * 60 * 1000;\nconst MS_72H = 72 * 60 * 60 * 1000;\nconst MS_1H = 60 * 60 * 1000;\nconst out = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  const lastOut = d.ultima_outbound_at ? new Date(d.ultima_outbound_at).getTime() : 0;\n  const minSinceLastOutbound = !lastOut || now - lastOut >= MS_1H;\n\n  const lastIn = d.ultima_inbound_at ? new Date(d.ultima_inbound_at).getTime() : 0;\n  const ignoreInboundBecauseBot = d.flag_resposta_bot === true;\n  /** Lead falou depois do nosso último outbound (ou há inbound sem outbound): orquestrador não deve continuar cadência/reforço. */\n  const inboundAheadOfOutbound = lastIn && (!lastOut || lastIn > lastOut);\n\n  if ([\"novo\", \"em_cadencia\"].includes(d.status) && !d.cadencia_pausada) {\n    if (inboundAheadOfOutbound && !ignoreInboundBecauseBot) {\n      continue;\n    }\n    const proximoOk = d.proximo_envio_at && new Date(d.proximo_envio_at).getTime() <= now;\n    const minGapCadenciaOk = !lastOut || now - lastOut >= MS_72H;\n\n    const ref = d.ultimo_evento_aguardando_resposta_at || d.ultima_outbound_at;\n    const tRef = ref ? new Date(ref).getTime() : NaN;\n    const reforcoDue = !d.reforco_1h_enviado_at && Number.isFinite(tRef) && now - tRef >= MS_1H;\n\n    if (proximoOk && minGapCadenciaOk && minSinceLastOutbound) {\n      out.push({ json: d });\n    } else if (reforcoDue && minSinceLastOutbound) {\n      out.push({ json: d });\n    }\n    continue;\n  }\n  if (d.status === \"em_conversa\" && d.ultima_inbound_at) {\n    const silenceMs = now - new Date(d.ultima_inbound_at).getTime();\n    if (silenceMs >= MS_48H && minSinceLastOutbound) {\n      d.status = \"em_cadencia\";\n      d.cadencia_pausada = false;\n      d._retomada = true;\n      out.push({ json: d });\n    }\n  }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        32
      ],
      "id": "code-filter-due-001",
      "name": "Filtrar vencidos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        32
      ],
      "id": "split-batch-001",
      "name": "Um lead por vez"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code node \"Preparar touchpoint\" — SDR Outbound (n8n).\n * Resolves which touchpoint to send, skips unsupported channels,\n * and outputs all session data flat for the AI Agent prompt.\n *\n * Contrato follow-up (012): reforço ~1h e follow-up D+1 9h têm prioridade sobre a cadência D3+.\n *\n * Cadência (anti-spam): próximo envio usa dia relativo (ORDER[].dia) a partir de dia_referencia\n * ou primeiro_contato_at em America/Sao_Paulo, não mais +1h após D1. Intervalo mínimo de 72h\n * entre envios de cadência vs ultima_outbound_at quando aplicável.\n */\n\n/** Mínimo entre mensagens de cadência (touchpoints ORDER), alinhado ao plano omnichannel */\nconst MIN_MS_BETWEEN_CADENCE_OUTBOUND = 72 * 60 * 60 * 1000;\n\nconst ORDER = [\n  { id: 'D1_WA', canal: 'whatsapp', dia: 1 },\n  { id: 'D3_WA', canal: 'whatsapp', dia: 3 },\n  { id: 'D5_EMAIL', canal: 'email', dia: 5 },\n  { id: 'D7_WA', canal: 'whatsapp', dia: 7 },\n  { id: 'D8_LI', canal: 'linkedin', dia: 8 },\n  { id: 'D10_WA', canal: 'whatsapp', dia: 10 },\n  { id: 'D13_LIG', canal: 'ligacao', dia: 13 },\n  { id: 'D14_WA', canal: 'whatsapp', dia: 14 },\n  { id: 'D17_EMAIL', canal: 'email', dia: 17 },\n  { id: 'D19_WA', canal: 'whatsapp', dia: 19 },\n  { id: 'D21_WA', canal: 'whatsapp', dia: 21 },\n];\n\nfunction nextSlotAfter(tpId, tier, email, linkedin) {\n  const idx = ORDER.findIndex((o) => o.id === tpId);\n  let i = idx + 1;\n  while (i < ORDER.length) {\n    const n = ORDER[i];\n    if (n.canal === 'email' && !email) { i++; continue; }\n    if (n.canal === 'linkedin' && !linkedin) { i++; continue; }\n    if (n.id === 'D13_LIG' && tier !== 'A') { i++; continue; }\n    return n;\n  }\n  return null;\n}\n\nfunction isUnsupportedInV1(def) {\n  return def.canal === 'email' || def.canal === 'linkedin' || def.canal === 'ligacao';\n}\n\nfunction hoursFromNow(h) {\n  const t = new Date();\n  t.setHours(t.getHours() + h);\n  return t.toISOString();\n}\n\nfunction getSpDateParts(refDate) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'America/Sao_Paulo',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n  const parts = fmt.formatToParts(refDate);\n  const get = (type) => parts.find((p) => p.type === type)?.value;\n  return {\n    year: Number(get('year')),\n    month: Number(get('month')),\n    day: Number(get('day')),\n    hour: Number(get('hour')),\n    minute: Number(get('minute')),\n    second: Number(get('second')),\n  };\n}\n\nfunction nowSpHour(refDate) {\n  return getSpDateParts(refDate).hour;\n}\n\nfunction isWithinSendWindowSp(refDate, startHour, endHourExclusive) {\n  const h = nowSpHour(refDate);\n  return h >= startHour && h < endHourExclusive;\n}\n\nfunction nextWindowStartSp(refDate, startHour) {\n  const p = getSpDateParts(refDate);\n  const utc = new Date(Date.UTC(p.year, p.month - 1, p.day, p.hour + 3, p.minute, p.second));\n  const h = p.hour;\n  if (h >= startHour) {\n    utc.setUTCDate(utc.getUTCDate() + 1);\n  }\n  utc.setUTCHours(startHour + 3, 0, 0, 0);\n  return utc.toISOString();\n}\n\nfunction toDateSafe(v) {\n  if (!v) return null;\n  const d = new Date(v);\n  return Number.isNaN(d.getTime()) ? null : d;\n}\n\n/** Dia 1 da cadência em calendário SP (YYYY-MM-DD de dia_referencia ou data de primeiro_contato_at). */\nfunction getCadenceAnchorSp(item) {\n  const dr = item.dia_referencia;\n  if (dr != null && String(dr).trim() !== '') {\n    const s = String(dr).slice(0, 10);\n    const parts = s.split('-').map(Number);\n    if (parts.length === 3 && parts.every((n) => Number.isFinite(n))) {\n      return { year: parts[0], month: parts[1], day: parts[2] };\n    }\n  }\n  const pc = toDateSafe(item.primeiro_contato_at);\n  if (pc) {\n    const p = getSpDateParts(pc);\n    return { year: p.year, month: p.month, day: p.day };\n  }\n  const p = getSpDateParts(new Date());\n  return { year: p.year, month: p.month, day: p.day };\n}\n\n/** Soma dias no calendário a partir de âncora SP (usa meio-dia UTC para estabilidade). */\nfunction addCalendarDaysFromAnchor(anchor, deltaDays) {\n  const utc = Date.UTC(anchor.year, anchor.month - 1, anchor.day + deltaDays, 12, 0, 0);\n  const p = getSpDateParts(new Date(utc));\n  return { year: p.year, month: p.month, day: p.day };\n}\n\n/**\n * Primeiro instante permitido para o touchpoint de dia relativo N (1 = dia âncora),\n * às startHour SP (Brasil UTC-3 fixo: UTC = startHour + 3 no mesmo dia civil).\n */\nfunction cadenceSlotIsoForDiaRelativo(anchor, diaRelativo, startHourSp) {\n  const delta = Math.max(0, diaRelativo - 1);\n  const t = addCalendarDaysFromAnchor(anchor, delta);\n  const hourUtc = startHourSp + 3;\n  return new Date(Date.UTC(t.year, t.month - 1, t.day, hourUtc, 0, 0, 0)).toISOString();\n}\n\nfunction maxIsoString(a, b) {\n  const ta = new Date(a).getTime();\n  const tb = new Date(b).getTime();\n  return ta >= tb ? a : b;\n}\n\n/** Chave YYYY-MM-DD do instante em calendário America/Sao_Paulo (comparar mesmo dia civil). */\nfunction calendarDateKeySp(d) {\n  const p = getSpDateParts(d);\n  return `${p.year}-${String(p.month).padStart(2, '0')}-${String(p.day).padStart(2, '0')}`;\n}\n\n/**\n * Próximo dia civil (não pula sábado/domingo), às 09:00 em America/Sao_Paulo, relativo à data civil de baseDate.\n * Usa o mesmo deslocamento UTC+3 que cadenceSlotIsoForDiaRelativo (9h SP → 12:00 UTC).\n */\nfunction nextCalendarDayNineAMSp(baseDate) {\n  const base = toDateSafe(baseDate) || new Date();\n  const p = getSpDateParts(base);\n  const next = addCalendarDaysFromAnchor({ year: p.year, month: p.month, day: p.day }, 1);\n  const hourUtc = 9 + 3;\n  return new Date(Date.UTC(next.year, next.month - 1, next.day, hourUtc, 0, 0, 0)).toISOString();\n}\n\n/**\n * Reforço 1h só depois de 1h sem resposta; follow-up D+1 9h só no dia civil seguinte ao reforço (9h SP).\n * Não retorna \"aguardar D+1\" nos primeiros 60 min (deixa cadência / null).\n */\nfunction pickFollowupAction(session, now) {\n  const touchList = Array.isArray(session.touchpoints_executados) ? session.touchpoints_executados : [];\n\n  const waitingAt = toDateSafe(session.ultimo_evento_aguardando_resposta_at || session.ultima_outbound_at);\n  if (!waitingAt) return null;\n  const elapsedMs = now.getTime() - waitingAt.getTime();\n  const oneHourMs = 60 * 60 * 1000;\n  /** Reforço / follow-up D+1 só para orquestrador em novo ou em_cadencia — nunca em em_conversa. */\n  const isOpenStatus = ['novo', 'em_cadencia'].includes(session.status || 'novo');\n  if (!isOpenStatus || session.cadencia_pausada === true) return null;\n\n  const lastIn = toDateSafe(session.ultima_inbound_at);\n  const lastOutDt = toDateSafe(session.ultima_outbound_at);\n  if (lastIn && lastOutDt && lastIn.getTime() > lastOutDt.getTime() && !session.flag_resposta_bot) {\n    return null;\n  }\n\n  if (!session.reforco_1h_enviado_at && !touchList.includes('REFORCO_1H') && elapsedMs >= oneHourMs) {\n    return {\n      action: 'enviar_reforco_1h',\n      message_kind: 'reforco_1h',\n      next_check_at: nextCalendarDayNineAMSp(now),\n    };\n  }\n\n  if (session.reforco_1h_enviado_at && !session.followup_d1_9h_enviado_at && !touchList.includes('FOLLOWUP_D1_9H')) {\n    const refAt = toDateSafe(session.reforco_1h_enviado_at);\n    const d1AtIso = nextCalendarDayNineAMSp(session.reforco_1h_enviado_at);\n    const d1At = toDateSafe(d1AtIso);\n    if (!d1At) return null;\n\n    if (now < d1At) {\n      return {\n        action: 'aguardar_followup_d1_9h',\n        message_kind: null,\n        next_check_at: d1AtIso,\n      };\n    }\n\n    if (refAt && calendarDateKeySp(now) === calendarDateKeySp(refAt)) {\n      return {\n        action: 'aguardar_followup_d1_9h',\n        message_kind: null,\n        next_check_at: d1AtIso,\n      };\n    }\n\n    if (now >= d1At) {\n      return {\n        action: 'enviar_followup_d1_9h',\n        message_kind: 'followup_d1_9h',\n        next_check_at: null,\n      };\n    }\n  }\n\n  return null;\n}\n\nconst item = $input.first().json;\nconst now = new Date();\nconst nowIso = now.toISOString();\nconst tier = item.tier || 'B';\nconst email = item.email || '';\nconst linkedin = item.linkedin_url || '';\nconst phone = item.phone_e164 || item.phone || '';\n\nconst sendWindowStartHour = 8;\nconst sendWindowEndHourExclusive = 18;\nconst maxCombinedDailySends = 15;\nconst sentTodayCombined = Number(item.disparos_enviados_hoje_combined || item.disparos_enviados_hoje || 0);\nconst inSendWindow = isWithinSendWindowSp(now, sendWindowStartHour, sendWindowEndHourExclusive);\nconst dailyCapReached = sentTodayCombined >= maxCombinedDailySends;\n\nconst followup = pickFollowupAction(item, now);\n\n/** Follow-up D+1 9h ainda não é hora: não dispara D3 no lugar — só reagenda. */\nif (followup && followup.action === 'aguardar_followup_d1_9h') {\n  return [{\n    json: {\n      ai_context_version: 'v2_contract',\n      session_id: item.id,\n      touchpoint_id: item.proximo_touchpoint_id || 'D1_WA',\n      canal: 'whatsapp',\n      skip: true,\n      skipReason: 'aguardar_followup_d1_9h',\n      proximo_envio_at: followup.next_check_at,\n      proximo_touchpoint_id: item.proximo_touchpoint_id,\n      status_final: item.status || 'em_cadencia',\n      followup_action: followup.action,\n      followup_message_kind: null,\n      followup_next_check_at: followup.next_check_at,\n      outbound_message_kind: null,\n      patch_reforco_1h_at: item.reforco_1h_enviado_at || null,\n      patch_followup_d1_9h_at: item.followup_d1_9h_enviado_at || null,\n      phone_e164: phone,\n      throttle_applies: false,\n      can_send_now: false,\n      touchpoints_executados: Array.isArray(item.touchpoints_executados) ? [...item.touchpoints_executados] : [],\n      d1_abertura_variacao:\n        item.d1_abertura_variacao != null && item.d1_abertura_variacao !== ''\n          ? Number(item.d1_abertura_variacao)\n          : null,\n      nome_lead: item.nome_lead || '',\n      nome_negocio: item.nome_negocio || '',\n      regiao: item.regiao || '',\n      bairro: item.bairro || '',\n      cuisine: item.cuisine || '',\n      rating: item.rating || '',\n      perfil_do_lead: item.perfil_do_lead || '',\n      rapport: item.rapport || '',\n      radar_score_geral: item.radar_score_geral || '',\n      ultimo_evento_aguardando_resposta_at: item.ultimo_evento_aguardando_resposta_at || item.ultima_outbound_at || null,\n    },\n  }];\n}\n\n/** Reforço 1h ou follow-up D+1 9h — touchpoints virtuais WhatsApp (prioridade). */\nif (followup && (followup.action === 'enviar_reforco_1h' || followup.action === 'enviar_followup_d1_9h')) {\n  const mk = followup.message_kind;\n  const tp = mk === 'reforco_1h' ? 'REFORCO_1H' : 'FOLLOWUP_D1_9H';\n  let proximoAt;\n  if (mk === 'reforco_1h') {\n    proximoAt = followup.next_check_at || hoursFromNow(2);\n  } else {\n    proximoAt = hoursFromNow(48);\n  }\n  const touchDone = Array.isArray(item.touchpoints_executados) ? [...item.touchpoints_executados] : [];\n  if (!touchDone.includes(tp)) touchDone.push(tp);\n\n  return [{\n    json: {\n      ai_context_version: 'v2_contract',\n      session_id: item.id,\n      touchpoint_id: tp,\n      canal: 'whatsapp',\n      skip: false,\n      skipReason: '',\n      throttle_applies: false,\n      is_initial_disparo: false,\n      in_send_window: inSendWindow,\n      daily_cap_reached: dailyCapReached,\n      can_send_now: true,\n      timezone_operacional: 'America/Sao_Paulo',\n      janela_envio_inicio_hora: sendWindowStartHour,\n      janela_envio_fim_hora_exclusiva: sendWindowEndHourExclusive,\n      sp_hora_atual: nowSpHour(now),\n      disparos_enviados_hoje_combined: sentTodayCombined,\n      limite_disparos_dia_combined: maxCombinedDailySends,\n      followup_action: followup.action,\n      followup_message_kind: mk,\n      followup_next_check_at: followup.next_check_at,\n      outbound_message_kind: mk,\n      patch_reforco_1h_at: mk === 'reforco_1h' ? nowIso : (item.reforco_1h_enviado_at || null),\n      patch_followup_d1_9h_at: mk === 'followup_d1_9h' ? nowIso : (item.followup_d1_9h_enviado_at || null),\n      ultimo_evento_aguardando_resposta_id: item.ultimo_evento_aguardando_resposta_id || null,\n      ultimo_evento_aguardando_resposta_at: item.ultimo_evento_aguardando_resposta_at || item.ultima_outbound_at || null,\n      ultimo_evento_aguardando_resposta_tipo: item.ultimo_evento_aguardando_resposta_tipo || null,\n      reforco_1h_enviado_at: item.reforco_1h_enviado_at || null,\n      followup_d1_9h_enviado_at: item.followup_d1_9h_enviado_at || null,\n      phone_e164: phone,\n      proximo_touchpoint_id: item.proximo_touchpoint_id,\n      proximo_envio_at: proximoAt,\n      status_final: 'em_cadencia',\n      touchpoints_executados: touchDone,\n      d1_abertura_variacao:\n        item.d1_abertura_variacao != null && item.d1_abertura_variacao !== ''\n          ? Number(item.d1_abertura_variacao)\n          : null,\n      nome_lead: item.nome_lead || '',\n      nome_negocio: item.nome_negocio || '',\n      regiao: item.regiao || '',\n      bairro: item.bairro || '',\n      cuisine: item.cuisine || '',\n      price_range: item.price_range || '',\n      rating: item.rating || '',\n      cnpj: item.cnpj || '',\n      email: item.email || '',\n      perfil_do_lead: item.perfil_do_lead || '',\n      rapport: item.rapport || '',\n      seguidores: item.seguidores || '',\n      instagram_profile_url: item.instagram_profile_url || '',\n      ifood_url: item.ifood_url || '',\n      classificacao: item.classificacao || '',\n      radar_url: item.radar_url || '',\n      radar_score_geral: item.radar_score_geral || '',\n      radar_score_reputacao: item.radar_score_reputacao || '',\n      radar_score_digital: item.radar_score_digital || '',\n      radar_score_competitivo: item.radar_score_competitivo || '',\n      radar_score_financeiro: item.radar_score_financeiro || '',\n      radar_oportunidade_min: item.radar_oportunidade_min || '',\n      radar_oportunidade_max: item.radar_oportunidade_max || '',\n      hubspot_contact_id: item.hubspot_contact_id || '',\n      hubspot_deal_id: item.hubspot_deal_id || '',\n      _retomada: item._retomada || false,\n      primeira_mensagem_enviada_at_candidate: null,\n      ai_context_minimo: {\n        session_id: item.id,\n        touchpoint_id: tp,\n        canal: 'whatsapp',\n        d1_abertura_variacao:\n          item.d1_abertura_variacao != null && item.d1_abertura_variacao !== ''\n            ? Number(item.d1_abertura_variacao)\n            : null,\n        status_sessao: item.status || 'novo',\n        followup_action: followup.action,\n        ultimo_response_actor: item.ultimo_response_actor || null,\n        flag_resposta_bot: Boolean(item.flag_resposta_bot),\n        flag_contato_errado: Boolean(item.flag_contato_errado),\n        flag_numero_inexistente: Boolean(item.flag_numero_inexistente),\n      },\n    },\n  }];\n}\n\nlet tp = item.proximo_touchpoint_id || ORDER[0].id;\n\nlet guard = 0;\nwhile (guard++ < 24) {\n  const def = ORDER.find((o) => o.id === tp) || ORDER[0];\n  if (!isUnsupportedInV1(def)) break;\n  const n = nextSlotAfter(tp, tier, email, linkedin);\n  if (!n) break;\n  tp = n.id;\n}\n\nconst def = ORDER.find((o) => o.id === tp) || ORDER[0];\nconst touchDoneCount = Array.isArray(item.touchpoints_executados) ? item.touchpoints_executados.length : 0;\nconst isInitialDisparo = touchDoneCount === 0 && !item.ultimo_touchpoint_id && tp === 'D1_WA';\nconst throttleApplies = isInitialDisparo;\nconst canSendNow = throttleApplies ? (inSendWindow && !dailyCapReached) : true;\n\nlet skip = false;\nlet skipReason = '';\nif (def.canal === 'email' && !email) { skip = true; skipReason = 'sem_email'; }\nif (def.canal === 'linkedin' && !linkedin) { skip = true; skipReason = 'sem_linkedin'; }\nif (def.id === 'D13_LIG' && tier !== 'A') { skip = true; skipReason = 'tier_nao_A'; }\nif (def.canal === 'ligacao') { skip = true; skipReason = 'ligacao_manual'; }\nif (throttleApplies && !inSendWindow) { skip = true; skipReason = 'fora_janela_08_18_sp'; }\nif (throttleApplies && dailyCapReached) { skip = true; skipReason = 'limite_15_disparos_dia_atingido'; }\n\nconst next = skip ? null : nextSlotAfter(tp, tier, email, linkedin);\n\nlet proximoAt;\nif (skip) {\n  proximoAt = throttleApplies\n    ? (inSendWindow ? hoursFromNow(1) : nextWindowStartSp(now, sendWindowStartHour))\n    : hoursFromNow(1);\n} else if (!skip && next) {\n  const nextDef = ORDER.find((o) => o.id === next.id);\n  const anchor = getCadenceAnchorSp(item);\n  const diaAlvo = nextDef && Number.isFinite(nextDef.dia) ? nextDef.dia : 1;\n  let slotCadencia = cadenceSlotIsoForDiaRelativo(anchor, diaAlvo, sendWindowStartHour);\n  const lastOut = toDateSafe(item.ultima_outbound_at);\n  if (lastOut) {\n    const minPorGap = new Date(lastOut.getTime() + MIN_MS_BETWEEN_CADENCE_OUTBOUND).toISOString();\n    slotCadencia = maxIsoString(slotCadencia, minPorGap);\n  }\n  proximoAt = slotCadencia;\n} else {\n  proximoAt = null;\n}\n\nlet statusFinal = 'em_cadencia';\nif (!skip && !next && tp === 'D21_WA') statusFinal = 'encerrado_breakup';\n\nconst touchDone = Array.isArray(item.touchpoints_executados) ? [...item.touchpoints_executados] : [];\nif (!skip && !touchDone.includes(tp)) touchDone.push(tp);\n\nreturn [{\n  json: {\n    ai_context_version: 'v2_contract',\n    session_id: item.id,\n    touchpoint_id: tp,\n    timezone_operacional: 'America/Sao_Paulo',\n    janela_envio_inicio_hora: sendWindowStartHour,\n    janela_envio_fim_hora_exclusiva: sendWindowEndHourExclusive,\n    sp_hora_atual: nowSpHour(now),\n    disparos_enviados_hoje_combined: sentTodayCombined,\n    limite_disparos_dia_combined: maxCombinedDailySends,\n    throttle_applies: throttleApplies,\n    is_initial_disparo: isInitialDisparo,\n    in_send_window: inSendWindow,\n    daily_cap_reached: dailyCapReached,\n    can_send_now: canSendNow,\n    followup_action: followup ? followup.action : null,\n    followup_message_kind: followup ? followup.message_kind : null,\n    followup_next_check_at: followup ? followup.next_check_at : null,\n    outbound_message_kind: null,\n    patch_reforco_1h_at: item.reforco_1h_enviado_at || null,\n    patch_followup_d1_9h_at: item.followup_d1_9h_enviado_at || null,\n    ultimo_evento_aguardando_resposta_id: item.ultimo_evento_aguardando_resposta_id || null,\n    ultimo_evento_aguardando_resposta_at: item.ultimo_evento_aguardando_resposta_at || item.ultima_outbound_at || null,\n    ultimo_evento_aguardando_resposta_tipo: item.ultimo_evento_aguardando_resposta_tipo || null,\n    reforco_1h_enviado_at: item.reforco_1h_enviado_at || null,\n    followup_d1_9h_enviado_at: item.followup_d1_9h_enviado_at || null,\n    canal: def.canal,\n    skip,\n    skipReason,\n    phone_e164: phone,\n    proximo_touchpoint_id: next ? next.id : null,\n    proximo_envio_at: proximoAt,\n    status_final: statusFinal,\n    touchpoints_executados: touchDone,\n    /** 1–3: variação A/B da primeira mensagem D1_WA (sessão); vem do Supabase após primeiro envio */\n    d1_abertura_variacao:\n      item.d1_abertura_variacao != null && item.d1_abertura_variacao !== ''\n        ? Number(item.d1_abertura_variacao)\n        : null,\n    nome_lead: item.nome_lead || '',\n    nome_negocio: item.nome_negocio || '',\n    regiao: item.regiao || '',\n    bairro: item.bairro || '',\n    cuisine: item.cuisine || '',\n    price_range: item.price_range || '',\n    rating: item.rating || '',\n    cnpj: item.cnpj || '',\n    email: item.email || '',\n    perfil_do_lead: item.perfil_do_lead || '',\n    rapport: item.rapport || '',\n    seguidores: item.seguidores || '',\n    instagram_profile_url: item.instagram_profile_url || '',\n    ifood_url: item.ifood_url || '',\n    classificacao: item.classificacao || '',\n    radar_url: item.radar_url || '',\n    radar_score_geral: item.radar_score_geral || '',\n    radar_score_reputacao: item.radar_score_reputacao || '',\n    radar_score_digital: item.radar_score_digital || '',\n    radar_score_competitivo: item.radar_score_competitivo || '',\n    radar_score_financeiro: item.radar_score_financeiro || '',\n    radar_oportunidade_min: item.radar_oportunidade_min || '',\n    radar_oportunidade_max: item.radar_oportunidade_max || '',\n    hubspot_contact_id: item.hubspot_contact_id || '',\n    hubspot_deal_id: item.hubspot_deal_id || '',\n    _retomada: item._retomada || false,\n    ai_context_minimo: {\n      session_id: item.id,\n      touchpoint_id: tp,\n      canal: def.canal,\n      d1_abertura_variacao:\n        item.d1_abertura_variacao != null && item.d1_abertura_variacao !== ''\n          ? Number(item.d1_abertura_variacao)\n          : null,\n      status_sessao: item.status || 'novo',\n      followup_action: followup ? followup.action : null,\n      ultimo_response_actor: item.ultimo_response_actor || null,\n      flag_resposta_bot: Boolean(item.flag_resposta_bot),\n      flag_contato_errado: Boolean(item.flag_contato_errado),\n      flag_numero_inexistente: Boolean(item.flag_numero_inexistente),\n    },\n    primeira_mensagem_enviada_at_candidate: (!skip && canSendNow) ? (item.primeira_mensagem_enviada_at || item.primeiro_contato_at || nowIso) : null,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        48
      ],
      "id": "code-prepare-001",
      "name": "Preparar touchpoint"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        16
      ],
      "id": "if-skip-001",
      "name": "Pode enviar WA?"
    },
    {
      "parameters": {
        "jsCode": "const claim = $('Claim dispatch lease').first().json || {};\nconst d = new Date();\nd.setHours(d.getHours() + 24);\nreturn [{ json: { session_id: $json.session_id, proximo_envio_at: d.toISOString(), touchpoint_id: $json.touchpoint_id, skipReason: $json.skipReason, _dispatch_execution_id: claim._dispatch_execution_id || '' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        368
      ],
      "id": "code-skip-advance-001",
      "name": "Skip — payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nolaecossistema.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Preparar touchpoint').item.json.phone_e164 }}"
            },
            {
              "name": "text",
              "value": "={{ $('Gerar Msg').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -192
      ],
      "id": "http-uazapi-send-001",
      "name": "UAZAPI — enviar texto",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "outbound_cadencia_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar touchpoint').item.json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proximo_touchpoint_id",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.proximo_touchpoint_id }}"
            },
            {
              "fieldId": "proximo_envio_at",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.proximo_envio_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.status_final }}"
            },
            {
              "fieldId": "ultimo_touchpoint_id",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.touchpoint_id }}"
            },
            {
              "fieldId": "ultima_outbound_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "reforco_1h_enviado_at",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.patch_reforco_1h_at }}"
            },
            {
              "fieldId": "followup_d1_9h_enviado_at",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.patch_followup_d1_9h_at }}"
            },
            {
              "fieldId": "d1_abertura_variacao",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.touchpoint_id === 'D1_WA' && $('D1 WA variacao').item.json.abertura_variacao != null ? $('D1 WA variacao').item.json.abertura_variacao : $('Preparar touchpoint').item.json.d1_abertura_variacao }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_until",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_execution_id",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        -192
      ],
      "id": "supa-update-session-001",
      "name": "Supabase — atualizar sessão",
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "outbound_cadencia_eventos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.session_id }}"
            },
            {
              "fieldId": "touchpoint_id",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.touchpoint_id }}"
            },
            {
              "fieldId": "canal",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.canal }}"
            },
            {
              "fieldId": "formato",
              "fieldValue": "texto"
            },
            {
              "fieldId": "direcao",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "mensagem_texto",
              "fieldValue": "={{ $('Gerar Msg').item.json.output }}"
            },
            {
              "fieldId": "resultado",
              "fieldValue": "enviado"
            },
            {
              "fieldId": "message_kind",
              "fieldValue": "={{ $('Preparar touchpoint').item.json.outbound_message_kind || ($('Preparar touchpoint').item.json.touchpoint_id === 'D1_WA' ? 'mensagem_inicial' : 'resposta_agente') }}"
            },
            {
              "fieldId": "n8n_execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "SDR Outbound"
            },
            {
              "fieldId": "abertura_variacao",
              "fieldValue": "={{ $('D1 WA variacao').item.json.abertura_variacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        -192
      ],
      "id": "supa-insert-event-001",
      "name": "Supabase — log evento",
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1check",
              "leftValue": "={{ $('Preparar touchpoint').item.json.touchpoint_id }}",
              "rightValue": "D1_WA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        -192
      ],
      "id": "if-hubspot-001",
      "name": "Criar HubSpot?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { firstname: $('Preparar touchpoint').item.json.nome_lead || 'Lead', phone: $('Preparar touchpoint').item.json.phone_e164 || '', email: $('Preparar touchpoint').item.json.email || '', company: (() => { const n = $('Preparar touchpoint').item.json.nome_negocio; return (n && String(n).trim()) ? String(n).trim() : 'Nome do estabelecimento não informado'; })(), hs_whatsapp_phone_number: $('Preparar touchpoint').item.json.phone_e164 || '', origem_do_lead: 'Scraper Outbound' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        -208
      ],
      "id": "http-hubspot-create-001",
      "name": "HubSpot — criar contato",
      "credentials": {
        "httpBearerAuth": {
          "id": "CONFIGURE_HUBSPOT_BEARER_CREDENTIAL_ID",
          "name": "HubSpot Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "outbound_cadencia_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proximo_envio_at",
              "fieldValue": "={{ $json.proximo_envio_at }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_until",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_execution_id",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        368
      ],
      "id": "supa-update-skip-001",
      "name": "Supabase — reagendar skip",
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= ",
        "options": {
          "systemMessage": "=# SDR OUTBOUND — TOUCHPOINT {{ $('Preparar touchpoint').item.json.touchpoint_id }}\n\nVocê é Dante um analista de mercado do Nola fazendo mapeamento de restaurantes por região. Gere UMA mensagem de WhatsApp para o touchpoint atual da cadência.\n\nVocê NÃO é vendedor. Você NÃO menciona sistema, software, ERP ou produto.\n\n## MISSÃO\n\nVocê deve criar a mensagem de acordo com o touchpoint dela, seguindo o seu estilo de mensagem\n\n## SAÍDA LIMPA\nO output é EXATAMENTE a mensagem a ser enviada. Nada mais.\n\n## FORMATAÇÃO\nNUNCA use dois pontos (:) no meio de frases.\nNUNCA use hífen (-) como marcador.\nEvitar usar emmojis, no maximo 1 emoji por mensagem.\nMensagem curta (max 3 linhas).\n\n## ABERTURAS (ANTI-REPETIÇÃO)\nNão comece toda mensagem com \"Oi\" nem repita o mesmo cumprimento dos toques anteriores. Em D3_WA, D7_WA e seguintes, em REFORCO_1H e FOLLOWUP_D1_9H prefira aberturas como \"Passando aqui\", \"Só atualizando\", \"Caio de novo\" ou vá direto ao ponto se já houve saudação. Varie a fórmula entre touchpoints.\n\n## DADOS DO LEAD\nRestaurante: {{ $('Preparar touchpoint').item.json.nome_negocio }}\nRating: {{ $('Preparar touchpoint').item.json.rating }}\nCuisine: {{ $('Preparar touchpoint').item.json.cuisine }}\nPreço: {{ $('Preparar touchpoint').item.json.price_range }}\nRegião: {{ $('Preparar touchpoint').item.json.regiao }}\nBairro: {{ $('Preparar touchpoint').item.json.bairro }}\nSeguidores: {{ $('Preparar touchpoint').item.json.seguidores }}\nPerfil: {{ $('Preparar touchpoint').item.json.perfil_do_lead }}\nRapport: {{ $('Preparar touchpoint').item.json.rapport }}\nClassificação bairro: {{ $('Preparar touchpoint').item.json.classificacao }}\n\n## DADOS DO RADAR\nScore geral: {{ $('Preparar touchpoint').item.json.radar_score_geral }}/100\nReputação: {{ $('Preparar touchpoint').item.json.radar_score_reputacao }}\nDigital: {{ $('Preparar touchpoint').item.json.radar_score_digital }}\nCompetitivo: {{ $('Preparar touchpoint').item.json.radar_score_competitivo }}\nFinanceiro: {{ $('Preparar touchpoint').item.json.radar_score_financeiro }}\nOportunidade: R$ {{ $('Preparar touchpoint').item.json.radar_oportunidade_min }} a R$ {{ $('Preparar touchpoint').item.json.radar_oportunidade_max }}/mês\n\n## ÂNGULOS POR TOUCHPOINT\nUse sempre o padrão de mensagem do touchpoint correspondente como base para a abordagem\n\n{{ $('D1 WA variacao').item.json.d1_wa_copy_block }}\n\nD3_WA (Follow-up dado)\nO material ficou pronto. Só precisa de um ok para enviar. Tom casual e direto.\n\nD7_WA (Humanização)\nInsistindo porque o estudo ficou forte. Tom genuíno e informal. Cite dado do Radar.\n\nD10_WA (Resumo visual)\nFez um resumo visual. Ofereça o completo. Tom curto.\n\nD14_WA (Provocação)\nPergunta provocativa sobre gestão ou CMV. Conecte ao estudo.\n\nD19_WA (Última chance)\n3 destaques diretos do estudo. Ofereça o completo.\n\nD21_WA (Break-up)\nEncerre com elegância. O estudo segue disponível. Deseje sucesso.\n\n## TOUCHPOINTS DE FOLLOW-UP (prioridade sobre cadência)\n- REFORCO_1H: reforço ~1h após última mensagem nossa sem resposta do lead. Máx. 2 linhas. Não repita a abertura D1 inteira. Tom leve, uma pergunta simples. Sem sistema/produto.\n- FOLLOWUP_D1_9H: lembrete no dia seguinte (manhã). Curto, útil, sem pressão. Sem sistema/produto.\n\n### DIRETRIZ DE FUNCIONAMENTO\n\nPara não se sobrecarregar tente não fazer muitas coisas por vez, tente fazer as consultas de tools de acordo com a necessidade.\n\nA memória já é carregada automaticamente pelo fluxo. Não tente chamar memória como se fosse tool e não fique iterando para \"buscar mais memória\".\n\nSe os dados necessários não estiverem no contexto atual, siga com o que existe sem insistir em novas tentativas internas.\n\n\n## REGRAS ABSOLUTAS\n1. NUNCA mencione sistema, software, ERP, ferramenta, plataforma ou produto\n2. SEMPRE mencione o nome do restaurante\n3. SEMPRE crie exclusividade\n4. VARIE a estrutura entre leads\n5. Se tiver rapport, use como gancho\n\n## Saudação (fuso)\nUse bom dia, boa tarde ou boa noite **somente** conforme a hora local em **America/Sao_Paulo** (mesma referência de ## DATA ATUAL abaixo). Se já for noite em SP, **não** use \"bom dia\".\n\n## DATA ATUAL\nAno: {{ $now.format('yyyy') }} Mês: {{ $now.format('MM') }} Dia: {{ $now.format('dd') }}\nDia da Semana: {{ $now.format('EEEE') }} Hora: {{ $now.format('HH:mm') }}\n"
        }
      },
      "id": "db20f3fb-5e88-4f56-a951-723786079d0d",
      "name": "Gerar Msg",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "34ede8e1-d6b9-46e8-8349-af5c4e9905a0",
      "name": "GPT-4.1-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_outbound_{{ $('Preparar touchpoint').item.json.phone_e164 }}",
        "contextWindowLength": 4
      },
      "id": "3912e6d1-bf4c-4792-9da2-1763de333ae0",
      "name": "Memoria Outbound",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1120,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2592,
        -176
      ],
      "id": "8fbb7e61-b69e-4f45-b417-0a4032b49214",
      "name": "Wait",
      "webhookId": "a75fda78-eb73-4486-8c52-a80bae0439e8"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3184,
        -208
      ],
      "id": "eed69fac-f92a-4fe0-81eb-2984c64438f5",
      "name": "Wait1",
      "webhookId": "45582904-9ba9-4638-9b57-72e2e9ec75f2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code node \"D1 WA variacao\" — SDR Outbound (n8n).\n * Coloque APÓS \"Pode enviar WA?\" (ramo true) e ANTES de \"Gerar Msg\".\n * Depende de: Supabase migration 008 (rpc/next_d1_wa_variacao).\n */\n\nreturn await (async function () {\n  const V1 = `D1_WA (Abertura) — VARIAÇÃO 1\nSe apresente (evite \"olá\"; prefira \"oi, tudo bem?\" ou bom dia/boa tarde conforme o horário) e confirme se fala com quem decide pelo estabelecimento. Diga que o restaurante chamou atenção num estudo de mercado da região e que por isso estamos oferecendo algo gratuito para ele. Se tiver rapport, use como gancho. Crie exclusividade. NUNCA cite valor financeiro. Termine com pergunta de baixa fricção.\nMantenha curto e chamativo; o objetivo é só despertar curiosidade.`;\n\n  const V2 = `D1_WA (Abertura) — VARIAÇÃO 2\nAbra com tom leve (oi/tudo bem ou bom dia/boa tarde) e confirme o contato certo. Diga que estamos fechando um recorte de desempenho dos negócios do bairro/região e que o restaurante entrou no radar por um motivo específico (use rating, perfil ou dado do radar com cuidado, sem inventar). Ofereça um material gratuito ligado a esse recorte, sem citar sistema ou produto. Crie exclusividade. NUNCA cite valor financeiro. Feche com pergunta simples.\nMáximo 3 linhas; uma ideia por mensagem.`;\n\n  const V3 = `D1_WA (Abertura) — VARIAÇÃO 3\nComece naturalmente (evite \"olá\") e valide se está falando com quem manda no salão. Mencione que fazemos um mapeamento rápido de operações na região e que o nome do restaurante apareceu como caso interessante para acompanhar (use apenas dados que já estão no contexto). Convide a receber um resumo gratuito desse recorte, sem mencionar software ou marca de ferramenta. NUNCA cite valor financeiro. Uma pergunta curta no fim.\nSeja direto; curiosidade antes de qualquer detalhe.`;\n\n  const BLOQUES = { 1: V1, 2: V2, 3: V3 };\n\n  const prep = $('Preparar touchpoint').first().json;\n  const tp = prep.touchpoint_id;\n\n  if (tp !== 'D1_WA') {\n    return [\n      {\n        json: {\n          d1_wa_variacao: null,\n          d1_wa_copy_block: '',\n          abertura_variacao: null,\n        },\n      },\n    ];\n  }\n\n  let v = 1;\n  try {\n    const cred = await this.getCredentials('supabaseApi');\n    const host = String(cred.host || '').replace(/\\/$/, '');\n    const key = cred.serviceRole;\n    const raw = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${host}/rest/v1/rpc/next_d1_wa_variacao`,\n      headers: {\n        apikey: key,\n        Authorization: `Bearer ${key}`,\n        'Content-Type': 'application/json',\n      },\n      body: '{}',\n      json: true,\n    });\n    if (typeof raw === 'number') v = raw;\n    else if (raw && raw.next_d1_wa_variacao != null) v = raw.next_d1_wa_variacao;\n    else v = parseInt(raw, 10) || 1;\n    v = Math.max(1, Math.min(3, parseInt(v, 10) || 1));\n  } catch (e) {\n    v = (Date.now() % 3) + 1;\n  }\n\n  return [\n    {\n      json: {\n        d1_wa_variacao: v,\n        d1_wa_copy_block: BLOQUES[v] || BLOQUES[1],\n        abertura_variacao: v,\n      },\n    },\n  ];\n}).call(this);\n"
      },
      "id": "code-d1-wa-var-001",
      "name": "D1 WA variacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9c106177-c7c2-422c-a126-8cfb9ab5b0f2",
              "leftValue": "={{ Boolean($json.error) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        -208
      ],
      "id": "4f9896ea-b71a-485f-9de4-d0b53594e354",
      "name": "Error?"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code node \"UAZAPI — payload falha\" — após IF \"Error?\" (ramo TRUE = falha envio, ex. HTTP 500).\n * Entrada: saída do nó \"UAZAPI — enviar texto\" (item com .error em falha).\n */\nconst prep = $('Preparar touchpoint').first().json;\nconst msg = $('Gerar Msg').first().json;\nconst d1 = $('D1 WA variacao').first().json;\nconst raw = $input.first().json || {};\nconst err = raw.error || {};\nconst status = Number(\n  err.statusCode ?? err.status ?? err.response?.status ?? raw.statusCode ?? NaN\n);\nconst errMsg =\n  (typeof err.message === 'string' && err.message) ||\n  (typeof err.error === 'string' && err.error) ||\n  '';\nlet body = err.response?.body ?? err.response?.data ?? err.cause;\nif (body && typeof body !== 'string') {\n  try {\n    body = JSON.stringify(body);\n  } catch (e) {\n    body = String(body);\n  }\n}\nconst mensagemTexto = msg && msg.output != null ? String(msg.output) : '';\n\nconst metadata = {\n  uazapi_http_status: Number.isFinite(status) ? status : null,\n  uazapi_error_message: errMsg.slice(0, 4000),\n  uazapi_error_body: body ? String(body).slice(0, 8000) : '',\n  falha_motivo:\n    status === 500 ? 'erro_provedor_ou_numero_invalido' : 'falha_http_uazapi',\n};\n\nreturn [\n  {\n    json: {\n      session_id: prep.session_id,\n      touchpoint_id: prep.touchpoint_id,\n      canal: prep.canal,\n      formato: 'texto',\n      direcao: 'outbound',\n      mensagem_texto: mensagemTexto,\n      resultado: 'falha_envio',\n      metadata,\n      abertura_variacao: d1 && d1.abertura_variacao != null ? d1.abertura_variacao : null,\n      proximo_envio_at_retry: (() => {\n        const t = new Date();\n        t.setHours(t.getHours() + 24);\n        return t.toISOString();\n      })(),\n    },\n  },\n];\n"
      },
      "id": "code-uazapi-falha-001",
      "name": "UAZAPI — payload falha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -352
      ]
    },
    {
      "parameters": {
        "tableId": "outbound_cadencia_eventos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.session_id }}"
            },
            {
              "fieldId": "touchpoint_id",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.touchpoint_id }}"
            },
            {
              "fieldId": "canal",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.canal }}"
            },
            {
              "fieldId": "formato",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.formato }}"
            },
            {
              "fieldId": "direcao",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.direcao }}"
            },
            {
              "fieldId": "mensagem_texto",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.mensagem_texto }}"
            },
            {
              "fieldId": "resultado",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.resultado }}"
            },
            {
              "fieldId": "n8n_execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "SDR Outbound"
            },
            {
              "fieldId": "abertura_variacao",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.abertura_variacao }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.metadata }}"
            }
          ]
        }
      },
      "id": "supa-log-falha-001",
      "name": "Supabase — log falha envio",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2144,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "outbound_cadencia_sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('UAZAPI — payload falha').item.json.session_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proximo_envio_at",
              "fieldValue": "={{ $('UAZAPI — payload falha').item.json.proximo_envio_at_retry }}"
            },
            {
              "fieldId": "ultima_outbound_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_until",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "outbound_dispatch_lease_execution_id",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "id": "supa-retry-falha-001",
      "name": "Supabase — reagendar após falha",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code node \"Claim dispatch lease\" — SDR Outbound (n8n).\n * Coloque APÓS \"Um lead por vez\" (saída do lote) e ANTES de \"Preparar touchpoint\".\n * Depende de: supabase/migrations/015_outbound_dispatch_lease.sql (RPC try_claim_outbound_session).\n *\n * Saída: repete os campos da sessão + _dispatch_claimed (boolean) + _dispatch_execution_id (string).\n */\n\nreturn await (async function () {\n  const row = $input.first().json;\n  const sessionId = row.id;\n  if (!sessionId) {\n    return [\n      {\n        json: {\n          ...row,\n          _dispatch_claimed: false,\n          _dispatch_skip_reason: 'no_session_id',\n          _dispatch_execution_id: '',\n        },\n      },\n    ];\n  }\n\n  const cred = await this.getCredentials('supabaseApi');\n  const host = String(cred.host || '').replace(/\\/$/, '');\n  const key = cred.serviceRole;\n  const executionId =\n    typeof $execution !== 'undefined' && $execution.id != null\n      ? String($execution.id)\n      : `no-exec-${Date.now()}`;\n\n  let claimed = false;\n  try {\n    const raw = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${host}/rest/v1/rpc/try_claim_outbound_session`,\n      headers: {\n        apikey: key,\n        Authorization: `Bearer ${key}`,\n        'Content-Type': 'application/json',\n      },\n      body: {\n        p_session_id: sessionId,\n        p_execution_id: executionId,\n        p_ttl_seconds: 240,\n      },\n      json: true,\n    });\n    if (raw === true || raw === 'true') claimed = true;\n    else if (typeof raw === 'boolean') claimed = raw;\n  } catch (e) {\n    claimed = false;\n  }\n\n  return [\n    {\n      json: {\n        ...row,\n        _dispatch_claimed: claimed,\n        _dispatch_execution_id: executionId,\n        _dispatch_skip_reason: claimed ? '' : 'lease_busy_or_rpc_error',\n      },\n    },\n  ];\n}).call(this);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        190,
        32
      ],
      "id": "code-claim-dispatch-001",
      "name": "Claim dispatch lease"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "claimOk",
              "leftValue": "={{ $json._dispatch_claimed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        32
      ],
      "id": "if-claim-dispatch-001",
      "name": "Dispatch claim OK?"
    }
  ],
  "connections": {
    "Manual teste": {
      "main": [
        [
          {
            "node": "Supabase — candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — candidatos": {
      "main": [
        [
          {
            "node": "Filtrar vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar vencidos": {
      "main": [
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar touchpoint": {
      "main": [
        [
          {
            "node": "Pode enviar WA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode enviar WA?": {
      "main": [
        [
          {
            "node": "D1 WA variacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip — payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UAZAPI — enviar texto": {
      "main": [
        [
          {
            "node": "Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — atualizar sessão": {
      "main": [
        [
          {
            "node": "Supabase — log evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — log evento": {
      "main": [
        [
          {
            "node": "Criar HubSpot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar HubSpot?": {
      "main": [
        [
          {
            "node": "HubSpot — criar contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot — criar contato": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip — payload": {
      "main": [
        [
          {
            "node": "Supabase — reagendar skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — reagendar skip": {
      "main": [
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Um lead por vez": {
      "main": [
        [],
        [
          {
            "node": "Claim dispatch lease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Msg": {
      "main": [
        [
          {
            "node": "UAZAPI — enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Gerar Msg",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Outbound": {
      "ai_memory": [
        [
          {
            "node": "Gerar Msg",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D1 WA variacao": {
      "main": [
        [
          {
            "node": "Gerar Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error?": {
      "main": [
        [
          {
            "node": "UAZAPI — payload falha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — atualizar sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UAZAPI — payload falha": {
      "main": [
        [
          {
            "node": "Supabase — log falha envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — log falha envio": {
      "main": [
        [
          {
            "node": "Supabase — reagendar após falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — reagendar após falha": {
      "main": [
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron cadência 15min": {
      "main": [
        [
          {
            "node": "Supabase — candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim dispatch lease": {
      "main": [
        [
          {
            "node": "Dispatch claim OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch claim OK?": {
      "main": [
        [
          {
            "node": "Preparar touchpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Um lead por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "kqInTfwLVKetxhH5",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:Cron cadência 15min": {
      "recurrenceRules": []
    }
  }
}
